@import url('https://fonts.googleapis.com/css?family=Merriweather');

/************
Psudo elements
************/
input:focus,
textarea:focus,
select:focus
{
	outline: none;
	border: 2px solid #334870;
	box-sizing: border-box;
	text-align: left;
}

:root{
	font-family: Merriweather;
}

input::placeholder{
	opacity: .7;
	font-size: 12px;
	text-align: right;
	font-style: italic;
	padding-right: 20px;
	}


/***Base Styles***/
.field-1,.field-2{
transition: all 1.5s;
}
.field-1:hover,
.field-2:hover{
	background-color: #fafafa;
}
						
fieldset{
	
	padding: 0;
	margin: 0;
	border: none;
}

textarea{
	width: 100%;
	height: 140px;
	background-color: #F1F1F1;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
}


form{
border-top: 2px solid #334870;
}

option{
	outline: none;
}
footer{
	text-align: center;
}
button[type="submit"]{
	min-width: 100%;
	height: 50px;
	margin: 15px 0;
	color: #fff;
	border-radius: 5px;
	background-color: #0caebc;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all.6s;
}

button[type="submit"]:hover{
	background-color: #32CC99;
}

.section-title{
	padding: 25px 0 10px 0;
	font-size: 20px;
	font-weight: 700;
	color: #334870;
	margin: 0;
}
#jsNews{
	margin-bottom: 25px;
}

input[type="checkbox"],
input[type="radio"]{
	margin: 10px 0;
}
/*Classes*/
label[for="message"]{
	display: inline-block;
	margin: 20px 0 10px 0;
	}
footer > p {
	font-style: italic;
}



.text{
	margin-bottom: 25px;
}
.text-size{
font-size: 14px;
font-weight: 300;
color: #7e7e7e;
}
 .wrapper{
	background-color: #FFF;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0.75em;
}
.text-width{
	width: 100%;

}


.text-styles{
	background-color: #F1F1F1;
	border: none;
	border-radius: 5px;
	height: 45px;
	margin-top: 12px;
	margin-bottom:  12px;
	display: inline;
	transition: all 0.4s;
}
.text-styles:hover{

}
.zip{
	width: 160px;
	margin-bottom: 30px;
	display: block;
}
.signup{
	text-align: center;
	margin-bottom: 2px;
	border-bottom: 4px solid #334870;
}
.signup > p {
	margin-bottom: 30px;
}
.padding{
	padding-top: 10px;
}
.title {
	color: #FFF;
	font-weight: 400;
	font-size: 20px;
	margin: 0;
	padding: 15px 0;
	background: #334870;
	text-align: center;
}
.newsletter-section{
	border-top: 2px solid #334870;
}

@media(min-width: 768px){
.fieldset-1 > label{
	width:  25%;
	display: inline-block;
	height: 45px;
}
.text-width{
	display: inline-block;
	width: 74%;
}
.zip{
	display: inline-block;
}

textarea{
	height: 100px;
}

}